*
!/configs
!/configs/**
!/deployments/
!/deployments/**
!/docs/
!/docs/**
!/internal/
!/internal/**
!/pkg/
!/pkg/**
!.gitignore
!/README.md
!/go.mod
!/go.sum

/configs/config.yaml
/configs/config.yml
/.qoder
/.idea
frontend/packages/scripts/bin.ts
frontend/packages/scripts/bin.ts
/logs
/vendor
